/* stylesheet */
* {
	margin: 0;
	padding: 0;
	font-family: 'roboto', sans-serif;
}
.webpage {
	display: flex;
}

.left,
.right {
	flex: 1;
	background-color: #1F2937;
}

.center .one{
	flex-grow: 0;
}

header,
.topic {
	display: flex;
	justify-content: space-between;
	padding: 1em 100px 0 100px;
	background-color: #1F2937;
	color:#F9FAF8;
	gap: 30em;
	flex: 1 0 auto;
}

.topic {
	display: flex;
	justify-content: center;
	padding: 100px;
	gap: 2em;
}

.intro {
	display: flex;
	flex-direction: column;
	max-width: 440px;
}

button {
	display: flex;
	justify-content: center;
	max-width: 100px;
	background-color: #3882F6;
	color: #F9FAF8;
	padding: 5px 2px;
	border-radius: 5px;
}

ul {
	display: flex;
	gap: 2em;
	margin-top: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #E5E7EB;
	font-size: 18px;
	flex: 1 0 0;
}

.category {
	font-size: 48px;
	font-weight: 900;
	color:#F9FAF8;
}

.intro .text {
	font-size: 18px;
	color: #e5e7e5;;
}

/* images */

.abyss {
	width: 450px;
	height: 250px;
	object-fit: cover;
}

.boxone.text {
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
	padding: 32px;
}

.data {
	display: flex;
	gap: 50px;
	justify-content: center;
	}

.planet {
	max-width: 200px;
	height: 200px;
	border: 4px solid #3882F6;
	border-radius: 12px;
	object-fit: cover;
}

p {
	text-align: center;
	max-width: 200px;
}

.container {
	padding-bottom: 100px;
}

body {
	justify-content: center;
}
.boxtwo {
	display: flex;
	justify-content: center;
	padding: 100px;
	background-color: rgb(236, 236, 236);
}

.quote {
	max-width: 790px;
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
	color: #1F2937;
}

span {
	display: flex;
	justify-content: flex-end;
	font-style: normal;
	font-weight: 900;
}

.boxthree {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #3882F6;
	margin: 80px 120px;
	padding: 40px 20px;
	color: #F9FAF8;
	border-radius: 8px;
}

.tag span {
	display: flex;
	justify-content: flex-start;
}



.boxthree button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3882F6;
	color: #F9FAF8;
	width: 7em;
	height: 2em;
	border-radius: 6px;
	border: 1px solid white;
	
}


footer {
	display: flex;
	justify-content: center;
	padding: 25px;
	background-color: #1F2937;
	color: #F9FAF8;
	font-size: 12px;
}